<h1>Ipayroll#home</h1>
<% if !@is_connected %>
  <%= link_to 'Connect to iPayroll', controller: 'ipayroll', action: 'connect' %>
<% else %>
  <%= link_to 'All costcenters', controller: 'ipayroll', action: 'costcentres' %>
  <%= link_to 'All employees', controller: 'ipayroll', action: 'employees' %>
  <%= link_to 'All employee leave balances', controller: 'ipayroll', action: 'employeeleavebalances' %>

  <%= link_to 'All employee leave requests', controller: 'ipayroll', action: 'employeeleaverequests' %>
  <%= link_to 'All employee payrates', controller: 'ipayroll', action: 'employeepayrates' %>

  <%= link_to 'All leaverequests', controller: 'ipayroll', action: 'leaverequests' %>
  <%= link_to 'All payelements', controller: 'ipayroll', action: 'payelements' %>
  <%= link_to 'All payroll payslips', controller: 'ipayroll', action: 'payrollPayslips' %>
  <%= link_to 'All current payroll payslips', controller: 'ipayroll', action: 'currentPayrollPayslips' %>
  <%= link_to 'All customfields', controller: 'ipayroll', action: 'customfields' %>
  <%= link_to 'All timesheets by current payroll', controller: 'ipayroll', action: 'currenttimesheets' %>
  <%= link_to 'All timesheets by payroll', controller: 'ipayroll', action: 'timesheetsbypayroll' %>

  <%= link_to 'All payrolls', controller: 'ipayroll', action: 'payrolls' %>

<% end %>
