<h1>Leave requests</h1>
<p><%= @leave_requests_collection.links %></p>
<p><%= @leave_requests_collection.content %></p>
<p><%= @leave_requests_collection.page %></p>


<h1>Leave requests outstanding</h1>
<p><%= @leave_requests_outstanding_collection.links %></p>
<p><%= @leave_requests_outstanding_collection.content %></p>
<p><%= @leave_requests_outstanding_collection.page %></p>
